@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.thumb-image {
    display: block;
    width: 20vw;
    height: 20vh;
    max-width: 400px;
    max-height: 300px;
    min-width: 300px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 0.5em;
}
#fox-img-2 {
    display: none;
}
li {
    display: inline-block;
    padding: 5px;
}
.ul-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.footer-social-icons {
    width: 250px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    
    color: black;
}
ul.social-icons {
    
    margin-top: 10px;
}
.social-icons li {

    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: black;
    text-decoration: none;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
}
.fa-linkedin:hover {
    background-color: white;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
}
.fa-github:hover {
    background-color: white;
}

/* CUSTOM */
.foxnavbar {
    row-gap: 20px;
    background-color: rgb(255, 176, 41);
    padding: 10px;
    font-family: 'Baloo 2';
    height: 100px;
    user-select: none;
}
.foxnavbar a {
    height: 60px;
}
.foxnavbar span img {
    padding: 10px;
}
.foxnavbar span .baloontxt {
    position: absolute;
    transform-origin: center left;
    transform: translateX(-100%) translateY(-25%);
    top: 50px;
    color: black;
    font-size: 0px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    transition: 0.25s;
    border: black 1px solid;
    border-radius: 5px;
}
.foxnavbar span:hover .baloontxt {
    font-size: 12px;
    opacity: 1;
}
.foxnavbar .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.foxnavbar p {
    text-align: right;
}
body {
    box-sizing: border-box;
    background: linear-gradient(#fff, #888);
    min-height: 500px;
}
section .secHeader {
    font-family: 'Baloo 2';
}
section p {
    font-family: 'Baloo 2';
}
section h4 {
    font-family: 'Baloo 2';
    display: inline-flex;
    align-items: center;
    background-color: #222;
    color: white;
    border: #222 4px solid;
    border-radius: 0.5em;
    overflow: hidden;
    height: 60px;
}
.largeLink{
    width: fit-content;
}
.alignDiv{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
section h4 .get {
    display: flex;
    align-items: center;
    background-color: #393;
    color: white;
    padding: 5px;
    height: 100%;
    user-select: none;
    transition: 0.25s;
}
section .popUp {
    display: flex;
    position: absolute;
    justify-content: center;
    transform: translateY(-60px);
    background-color: #222;
    color: #fff;
    font-family: 'Baloo 2';
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
    width: fit-content;
    user-select: none;
    opacity: 0;
    transition: 0.15s;
}
section .popUp::after {
    content: '';
    position: absolute;
    transform: translateY(8px) rotate(45deg) scale(0.8);
    background-color: #222;
    padding: 5px;
    width: 25px;
    height: 25px;
    z-index: -1;
}
section .p_active {
    opacity: 1;
}
section h4 .get:hover {
    cursor: pointer;
    background-color: #171;
    color: white;
    padding: 5px;
}
section h4 .getLink {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    user-select: text;
}
section .smallLink {
    width: fit-content;
}
section h4 .showValues {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 125, 255);
    padding: 5px;
    height: 100%;
    width: 400px;
    user-select: none;
    cursor: pointer;
    transition: 0.25s;
}
section h4 .showValues:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 80, 230);
    padding: 5px;
}
.searchFoxes {
    text-decoration: none;
}

.searchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.searchContainer .searchContainerUnique{
    margin: 5px;
}
.searchContainer h5 {
    display: block;
}
.table-values {
    display: flex;
    position: relative;
    box-sizing: border-box;
    background: #222;
    border-radius: 0.5em;
    overflow: hidden;
    max-height: 0px;
    transition: 0.25s;
    opacity: 0;
    justify-content: center;
    width: fit-content;
}
.table-values table {
    width: 500px;
}
.table-values tr td {
    font-family: 'Baloo 2';
    color: #fff;
}
.table-values tr th {
    font-family: 'Baloo 2';
    color: #999;
}
.tableActive {
    opacity: 1;
    padding: 15px;
    max-height: 120px;
}
.fox{
    border-radius: 0.5em;
    border: #222 4px solid;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 1) 0 0 10px;
    transition: 0.25s;
    margin-bottom: 40px;
    user-select: none;
    cursor: pointer;
}
.fox:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0 10px 20px;
}
.thumb-li{
    font-family: 'Baloo 2';
}
.infoContainer{
    margin-top: 20px;
}
.thumb-li h2{
    font-family: 'Baloo 2';
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.thumb-li p{
    text-align: center;
    width: 100%;
}